<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Test Suite">
    <parameter name="browser" value="chrome"/>
    <test verbose="2" preserve-order="true" name="nop-commerce-taf">
        <classes>
            <class name="tests.AddProductToShippingCartTest"/>
            <class name="tests.AddReviewTest"/>
            <class name="tests.AddToWishlistTest"/>
            <class name="tests.ChangeCurrencyTest"/>
            <class name="tests.CheckoutAsGuestUser"/>
            <class name="tests.CheckoutAsRegisteredUserTest"/>
            <class name="tests.CompareProductsTest"/>
            <class name="tests.ContactUsTest"/>
            <class name="tests.DownloadPDFInvoice"/>
            <class name="tests.EmailProductToFriendTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.MyAccountTest"/>
            <class name="tests.NotebookHoverMenuTest"/>
            <class name="tests.PrintOrderInformationTest"/>
            <class name="tests.SearchProductTest"/>
            <class name="tests.SearchProductUsingAutoSuggestTest"/>
            <class name="tests.UserRegistrationTest"/>
        </classes>
    </test>
</suite>